
body{
    /* background-image: url(./Images/Background_img.jpg); */
    background-color: rgb(195, 248, 230);
    
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}


.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.btn{

    
    height: 9rem;
    width: 9rem;
}

h3{
 text-align: center;
}

 